# /srv/pillar/armada/armada.sls
armada:
  debug: True
  static_user: www-data
  static_group: www-data
  server_name: armada.home

# /srv/pillar/armada/databases.sls
postgres:
  pg_hba.conf: salt://postgres/pg_hba.conf

  pkg_dev: True

  lookup:
    {% if grains['os_family'] == 'RedHat' %}
    pkg: 'postgresql94'
    pg_hba: '/var/lib/pgsql/9.4/data/pg_hba.conf'
    {% else %}
    pg_hba: '/etc/postgresql/9.4/main/pg_hba.conf'
    pkg: 'postgresql-9.4'
    {% endif %}

  users:
    stationspinner:
      password: 'you spin me right around baby'
      createdb: False

    scruffy:
      password: 'spacejugs'
      createdb: False

  databases:
    stationspinner:
      owner: 'stationspinner'
      lc_ctype: 'en_US.UTF8'
      lc_collate: 'en_US.UTF8'

    sde:
      owner: 'stationspinner'
      lc_ctype: 'en_US.UTF8'
      lc_collate: 'en_US.UTF8'

  # This section cover this ACL management of the pg_hba.conf file.
  # <type>, <database>, <user>, [host], <method>
  acls:
    - ['local', 'stationspinner', 'stationspinner', 'peer']
    - ['host', 'stationspinner', 'stationspinner', '127.0.0.1/32', 'md5']
    - ['host', 'stationspinner', 'stationspinner', '0.0.0.0/0', 'md5']
    - ['host', 'stationspinner', 'scruffy', '127.0.0.1/32', 'md5']
    - ['local', 'sde', 'stationspinner', 'peer']
    - ['host', 'sde', 'stationspinner', '127.0.0.1/32', 'md5']
    - ['host', 'sde', 'stationspinner', '0.0.0.0/0', 'md5']
    - ['host', 'sde', 'scruffy', '127.0.0.1/32', 'md5']

  # This section will append your configuration to postgresql.conf.
  postgresconf: |
    listen_addresses = '*'

# /srv/pillar/armada/stationspinner.sls
stationspinner:
  debug: False
  secret_key: 'asdfasdpifj7as9f67932432j14kjn3o4ih2oi0890'
  databases:
    {#
    Keeping socket==True will ignore ip:port. Set to false, if you want to have
    database on another server
    #}
    sde:
      user: stationspinner
      password: 'you spin me right around baby'
      socket: False
      host: '127.0.0.1'
      port: '5432'
    stationspinner:
      user: stationspinner
      password: 'you spin me right around baby'
      socket: False
      host: '127.0.0.1'
      port: '5432'
  admins:
    - email: admin@localhost
      username: admin
      full_name: That Admin Guy
  allowed_hosts:
    - localhost
  redis:
    host: '127.0.0.1'
    port: '6379'
    celerydb: '0'
    cachedb: '1'
  markets:
    - jita
    - amarr
    - dodixie
    - rens
    - hek
    - the forge

