ENABLED="true"
VIRTUALENV="/srv/www/stationspinner/env"
CELERY_CONFIG_MODULE="celeryconfig"
CELERY_APP="stationspinner.celery:app"
CELERYD_LOG_LEVEL="info"
CELERYD_NODES="{%- for worker_name in stationspinner.workers.processes %}{{worker_name}} {%endfor%}"
CELERYD_CHDIR="/srv/www/stationspinner/web"
PATH="$VIRTUALENV/bin:$PATH"
CELERY_BIN="$VIRTUALENV/bin/celery"
CELERYD_OPTS="--time-limit=7200 --concurrency={{stationspinner.workers.concurrency}}"
CELERYD_LOG_FILE="/srv/www/stationspinner/log/celery-%n.log"
CELERYD_PID_FILE="/srv/www/stationspinner/run/celery-%n.pid"
CELERYD_USER="stationspinner"
CELERYD_GROUP="stationspinner"
export DJANGO_SETTINGS_MODULE="stationspinner.settings"
