[Unit]
Description=Stationspinner celery workers
After=network.target

[Service]
Type=forking
User=stationspinner
Group=stationspinner
EnvironmentFile=/etc/sysconfig/stationspinner-worker
WorkingDirectory=/srv/www/stationspinner/web
ExecStart=/srv/www/stationspinner/env/bin/celery multi start $CELERYD_NODES \
    -A $CELERY_APP --pidfile=${CELERYD_PID_FILE} \
    --logfile=${CELERYD_LOG_FILE} --loglevel="${CELERYD_LOG_LEVEL}" \
    $CELERYD_OPTS
ExecStop=/srv/www/stationspinner/env/bin/celery multi stopwait $CELERYD_NODES \
    --pidfile=${CELERYD_PID_FILE}
ExecReload=/srv/www/stationspinner/env/bin/celery multi restart $CELERYD_NODES \
    -A ${CELERY_APP} --pidfile=${CELERYD_PID_FILE} \
    --logfile=${CELERYD_LOG_FILE} --loglevel="${CELERYD_LOG_LEVEL}" \
    $CELERYD_OPTS

[Install]
WantedBy=multi-user.target
