
server {
    server_name {{ armada.server_name }};
    access_log /var/log/nginx/{{ armada.server_name }}_access.log;
    error_log /var/log/nginx/{{ armada.server_name }}_error.log;


    location /api {
        proxy_pass	http://localhost:8000/api;
        proxy_redirect	off;
        proxy_set_header	Host $host;
    }

    location /{
        proxy_pass	http://localhost:8080/;
        proxy_redirect	off;
        proxy_set_header	Host $host;
    }
}

